.image{ 
    width :300px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
body {
    background-color:#d385f1;
}
h1{
    text-align: center;
}
.about {
    color:blue;
}
.second{
    width :500px;
}